@tailwind base;
@tailwind components;
@tailwind utilities;

/* Extra Small (XS) */
@media only screen and (max-width: 575px) {

  .container {
    margin: 0 auto;
    width: 94%;
  }

}

/* Small (SM) */
@media only screen and (min-width: 576px) and (max-width: 767px) {

  /* CSS styles for small devices */
  .container {
    margin: 0 auto;
    max-width: 96% !important;
  }

}

/* Medium (MD) */
@media only screen and (min-width: 768px) and (max-width: 991px) {

  /* CSS styles for medium devices */
  .container {
    margin: 0 auto;
    max-width: 90% !important;
  }
}

/* Large (LG) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

  /* CSS styles for large devices */
  .container {
    margin: 0 auto;
    max-width: 86% !important;
  }
}

/* Extra Large (XL) */
@media only screen and (min-width: 1200px) {
  .container {
    margin: 0 auto;
    max-width: 80% !important;
  }
}